.footer-ctn {
    height: auto;
    width: 100%;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 9vw;
    /* backdrop-filter: drop-shadow(0px -25px 100px rgba(16, 16, 16, 0.51)); */
    border-top: 1.5px solid rgba(89, 86, 86, 0.51);
    /* opacity: 0.95; */
    z-index: 1;
    margin-bottom: 0;
    /* background-color: var(--dashboard-background); */
    backdrop-filter: drop-shadow(100px 100px 100px rgba(16, 16, 16, 0.51)) blur(20px);
}

.footer-avatar-ctn, .footer-controls, .volume-ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer-avatar-ctn .imgery{
    /* height: 100%; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-avatar-ctn img {
    height: 100%;
    max-height: 69px;
    width: 50px;
    max-width: 60px;
    margin: 0vh 0.5vw 0 0;
}

.foot-avatar-text p:first-child{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
}

.foot-avatar-text p:last-child {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.44);
}

.footer-controls {
    flex-basis: 30%;
    width: 30%;
    margin: 0 auto;
}